<%
display_name = "<i>#{@uid} (unnamed)</i>"
display_name = @client[:displayName] if @client[:displayName] and not @client[:displayName].eql? ''
formval_display_name = nil
formval_display_name = @client[:displayName] if @client[:displayName]
lastStart = @client[:startTime]
lastCheck = @client[:lastCheckin]
lastURL = @client[:lastURL]
userAgent = @client[:userAgent]
screenSize = @client[:screenSize]
assignedSchedule = @client[:assignedSchedule]

overrideUntil = 0
overrideURL = ""
overrideUntil = @client[:overrideUntil] if @client[:overrideUntil]
overrideURL = @client[:overrideURL] if @client[:overrideURL]
if Time.at(overrideUntil) > Time.now
    overrideText = "#{overrideURL} until #{Time.at(overrideUntil)}<br/>(#{distance_of_time_in_words(Time.at(overrideUntil), Time.now, include_seconds: true)} remaining)"

else
    overrideText = "No"
end

%><!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drill Sergeant Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin#">Drill Sergeant Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
				<li class="dropdown">
            		<a href="/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
            	</li>
            </ul>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/admin#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/admin/enlisted#"><i class="fa fa-fw fa-child"></i> Enlisted</a>
                    </li>
                    <li>
                        <a href="/admin/schedules#"><i class="fa fa-fw fa-clock-o"></i> Schedules</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Enlisted <small>Personnel file</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-child"></i>  <a href="/admin/enlisted#">Enlisted</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> <%=display_name%>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- /.row -->
                <div class="row">
                
                <form role="form">

                    <div class="col-lg-6">

                        <input type=hidden name="s" value="y">

                        <div class="form-group">
                            <label>Display Name</label>
                            <input name='dn' class="form-control" placeholder="<%=h @uid%>" value="<%=h formval_display_name%>">
                        </div>

                        <div class="form-group">
                            <label>Assigned Schedule</label>
                            <select class="form-control" name="sched">
                                <option value="">None</option>
                                <%
                                GetSchedules().each do |sched_uid,sched_item|
                                    sched_name = sched_item[:displayName]
                                    is_selected = ""
                                    is_selected = "selected" if assignedSchedule and assignedSchedule.eql? sched_uid
                                %><option <%= is_selected %> value="<%=h sched_uid %>"><%=h sched_name %></option><%
                                end
                                %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Current URL</label>
                            <p class="form-control-static"><%=lastURL%></p>
                        </div>
                        <div class="form-group">
                            <label>Schedule Manually Overriden</label>
                            <p class="form-control-static"><%=overrideText%></p>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label>Screen Size</label>
                            <p class="form-control-static"><%=screenSize%></p>
                        </div>
                        <div class="form-group">
                            <label>User Agent</label>
                            <p class="form-control-static"><%=userAgent%></p>
                        </div>
                        <div class="form-group">
                            <label>Tour Started</label>
                            <p class="form-control-static"><%=lastStart%> (<%="#{time_ago_in_words(lastStart)}"%> ago)</p>
                        </div>
                        <div class="form-group">
                            <label>Last Check in</label>
                            <p class="form-control-static"><%=lastCheck%> (<%="#{time_ago_in_words(lastCheck)}"%> ago)</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">

                        <button type="submit" class="btn btn-primary">Submit Button</button>
                        <button type="reset" class="btn btn-default">Reset Button</button>
                        <a class="btn btn-danger" href="<%="/admin/enlisted/#{@uid}?s=d&rnd=#{SecureRandom.hex}"%>">Delete Entry</a>
                        

                    </div>

                </form>
                    
                </div>


                <!-- /.row -->
                <hr>
                <div class="row">
                
                <form role="form" method=post action="/admin/enlisted_do">
                        <input type=hidden name="s" value="o">
                        <input type=hidden name="id" value="<%=@uid%>">
                <div class="form-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input name='url' class="form-control" placeholder="Manual URL" value="">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="dur">
                                <option value="<%=0%>">Until next check in or scheduled change</option>
                                <option value="<%=30%>">For 30 seconds</option>
                                <option value="<%=60*1%>">For 1 minute</option>
                                <option value="<%=60*5%>">For 5 minutes</option>
                                <option value="<%=60*30%>">For 30 minutes</option>
                                <option value="<%=60*60%>">For 1 hour</option>
                                <option value="<%=60*60*2%>">For 2 hours</option>
                                <option value="<%=60*60*3%>">For 3 hours</option>
                                <option value="<%=60*60*8%>">For 8 hours</option>
                                <option value="<%=60*60*24%>">For 24 hours</option>
                                <option value="<%=60*60*48%>">For 48 hours</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">Override Display URL</button>
                    </div>
                </div>
                </form>
                    
                </div>

               
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>

</body>

</html>

